@model IEnumerable<ShoppingCart.Models.ProductTable>
@using ShoppingCart;

@{
    ViewBag.Title = "Index";
    int counter = 0;
}
<h2>Index</h2>
<p>@ViewBag.Text</p>
<div class="row">
    @foreach (var product in Model)
    {
        if (counter != 0 && counter % 3 == 0)
        {
        @:</div>
        @:<div class="row">
    }
<div class="col-md-4">
            <div class="thumbnail">
                <img src="@product.ProductImage" data-holder-rendered="true" style="height: 160px; width: 200px; display: block;">
                <div class="caption">
                    <p>
                      <h3 id="thumbnail-label">@product.ProductName</h3>
                            @Html.DropDownList("Quantity")
                    </p>
                    <p>@product.ProductPrice</p>
                    <p>@Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCart", new { id = @product.ProductID }, new { @class = "test" })</p>
                </div>
            </div>
        </div>
       counter++;
    }
</div>
<div id="total_quantity"></div>
<script type="text/javascript">

    $(document).ready(function () {
            //console.log("Inside the function !!");
            $('.test').click(function (e) {
            console.log("test Clicked!!");
            e.preventDefault();
            $.ajax({
            url: this.href,
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            cache: true,
            success: function (data) {
            // data is your result from controller
                $('#total_quantity').html = data;
                console.log(data);
                alert("Added in your cart !!");
            },
            error: function (xhr) {
            alert('error');
            }
            });

       });
    });
</script>
    
